:host {
   display: inline-flex;
   height: 100%;
   width: 100%;

   .container {
      display: flex;
      flex-flow: column;
      height: 100%;
      padding: 20px;

      &.sidebar {
         width: 30%;
         border-right: 1px solid black;
      }
      &.content {
         width: 70%;

         .search-bar {
            display: flex;
            gap: 1rem;
            margin-bottom: 1.5rem;
            input {
               flex: 1;
               padding: 0.5rem;
               font-size: 1rem;
            }
            button {
               padding: 0.5rem 1rem;
               font-size: 1rem;
               background-color: #0070f3;
               color: white;
               border: none;
               border-radius: 4px;
               cursor: pointer;
            }
         }
      }
   }
}
