<div class="sidebar container">
   <playlist-list [(selectedPlaylist)]="selectedPlaylist"></playlist-list>
</div>
<div class="content container">
   <div class="serach-bar"></div>
   <div class="content-wrapper">
      <div class="search-bar">
         <input
            [(ngModel)]="search"
            type="text"
            placeholder="Search for a song..."
         />
         <button (click)="searchMusic()">Search</button>
      </div>
      @if(selectedPlaylist && search === ''){
      <playlist-detail [selectedPlaylist]="selectedPlaylist"></playlist-detail>
      }@else {
      <music-list
         [musics]="musics"
         [componentOptions]="{
            useAddButton: true,
            useRemoveButton: false
         }"
         (addMusic)="addToPlaylist($event)"
      ></music-list>
      }
   </div>
</div>
