<div class="container">
   @if (musics.length === 0) {
   <p class="no-results">No results yet. Try searching above.</p>
   } @if (musics.length > 0) {
   <table class="song-table">
      <thead>
         <tr>
            <th>Track</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Preview</th>
            <th>Add</th>
         </tr>
      </thead>
      <tbody>
         @for (music of musics ; track $index) {
         <tr>
            <td>{{ music.trackName }}</td>
            <td>{{ music.artistName }}</td>
            <td>{{ music.collectionName }}</td>
            <td>
               @if (music.previewUrl) {
               <audio [src]="music.previewUrl" controls></audio>
               }
            </td>
            <td>
               <button (click)="addToPlaylist(music)">➕</button>
            </td>
         </tr>
         }
      </tbody>
   </table>
   }
</div>
