<div class="container">
   <table class="song-table">
      <thead>
         <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Preview</th>
            <th>Actions</th>
         </tr>
      </thead>
      <tbody>
         @for (music of musics ; track $index) {
         <tr>
            <td>{{ music.trackName }}</td>
            <td>{{ music.artistName }}</td>
            <td>{{ music.collectionName }}</td>
            <td>
               @if (music.previewUrl) {
               <audio [src]="music.previewUrl" controls></audio>
               }
            </td>
            <td>
               @if(componentOptions.useAddButton &&
               !IDListSelected.includes(music.trackId)){
               <button (click)="addToPlaylist(music)">➕</button>
               } @if (componentOptions.useRemoveButton &&
               IDListSelected.includes(music.trackId)) {
               <button (click)="removeFromPlaylist(music)">🗑️</button>
               }
            </td>
         </tr>
         }@empty {
         <p class="no-results">No results yet. Try searching above.</p>
         }
      </tbody>
   </table>
</div>
